// Variables
$website-width: 1280px;
$main-color: #14988B;
$secondary-color: #fff;
$light-color:#fff;
$dark-color: #000;
$medium-color: #ccc;
$dark-gray: #999999;
$bg-image: url('../img/showcase.jpg') no-repeat center center/cover;
$bg-trainer-image1: url('../img/Thumbnail-images/Video-thumbnail-1.jpg');
$bg-trainer-image2: url('../img/Thumbnail-images/Video-thumbnail-2.jpg');
$bg-trainer-image3: url('../img/Thumbnail-images/Video-thumbnail-3.jpg');
$bg-trainer-image4: url('../img/Thumbnail-images/Video-thumbnail-4.jpg');
$bg-trainer-image5: url('../img/Thumbnail-images/Video-thumbnail-5.jpg');
$bg-trainer-image6: url('../img/Thumbnail-images/Video-thumbnail-6.jpg');
$bg-trainer-image7: url('../img/Thumbnail-images/Video-thumbnail-7.jpg');